<igx-date-picker type="border" mode="dialog" class="date-picker">
  <label igxLabel>Date</label>
</igx-date-picker>
<igx-simple-combo [data]="financialBoxOfficeRevenue" displayKey="Franchise" class="user-input">
  <label igxLabel>Label/Placeholder</label>
</igx-simple-combo>
<igx-input-group type="border" class="user-input">
  <input type="text" igxInput />
  <label igxLabel>Label/Placeholder</label>
</igx-input-group>
<igx-select type="border" class="user-input">
  <igx-select-item value="Option">
    Option
  </igx-select-item>
  <label igxLabel>Label/Placeholder</label>
</igx-select>
<igx-input-group type="border" class="ig-typography__body-1 textarea">
  <label igxLabel>Label/Placeholder</label>
  <textarea igxInput></textarea>
</igx-input-group>
